# Data files
*.nc
*.csv

# Images
*.png
*.jpg
*.gif
*.jpeg
*.svg
*.pdf

# Output files
*.out
*.err
*.log
*.ipynb_checkpoints
__pycache__/
*.json

#python files
*.pyc
*.pyo
*.pyd
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_december_onset_year_region_all_all.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_december_onset_year_region_all_moderate.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_december_onset_year_region_all_strong.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_december_onset_year_region_all_weak.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_onset_region_all_all.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_onset_region_all_moderate.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_onset_region_all_strong.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_aam_onset_all_start_onset_region_all_weak.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_latlev_onset_all_start_december_onset_year_region_all_all.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_latlev_onset_all_start_onset_region_all_all.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_latlon_onset_all_start_december_onset_year_region_all_all.csv
test_code/CMIP6_HadGEM3_GC31/event_composite_ensemble_mean_bootstrap_results/Taylor_Stats_latlon_onset_all_start_onset_region_all_all.csv
